<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='page2.css')}}"/>



</head>
<body>
    <div class="container">
        <header class="header">
          <h1 id="title" class="text-center">Personality test</h1>
          <p id="description" class="description text-center">
            Thank you for taking the time to help us test the personality
          </p>
        </header>
        <form id="survey-form" action="/sub" method="POST" >

          <div class="form-group">
            <p>1-You regularly make new friends</p>
            <label>
              <input
                name="0"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="0"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="0"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="0"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="0"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="0"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="0"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          <div class="form-group">
            <p>2-You spend a lot of your free time exploring various random topics that pique your interest            </p>
            <label>
              <input
                name="1"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="1"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="1"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="1"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="1"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="1"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="1"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          
          <div class="form-group">
            <p>3-Seeing other people cry can easily make you feel like you want to cry too</p>
            <label>
              <input
                name="2"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="2"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="2"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="2"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="2"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="2"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="2"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          <div class="form-group">
            <p>4-You often make a backup plan for a backup plan.</p>
            <label>
              <input
                name="3"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="3"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="3"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="3"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="3"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="3"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="3"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          <div class="form-group">
            <p>5-You usually stay calm, even under a lot of pressure</p>
            <label>
              <input
                name="4"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="4"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="4"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="4"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="4"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="4"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="4"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          <div class="form-group">
            <p>6-At social events, you rarely try to introduce yourself to new people and mostly talk to the ones you already know</p>
            <label>
              <input
                name="5"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="5"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="5"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="5"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="5"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="5"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="5"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          <div class="form-group">
            <p>7-You prefer to completely finish one project before starting another.</p>
            <label>
              <input
                name="6"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="6"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="6"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="6"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="6"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="6"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="6"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>8-You are very sentimental.</p>
            <label>
              <input
                name="7"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="7"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="7"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="7"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="7"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="7"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="7"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          
          <div class="form-group">
            <p>9-You like to use organizing tools like schedules and lists.</p>
            <label>
              <input
                name="8"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="8"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="8"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="8"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="8"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="8"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="8"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>10-Even a small mistake can cause you to doubt your overall abilities and knowledge.</p>
            <label>
              <input
                name="9"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="9"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="9"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="9"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="9"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="9"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="9"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>11- You feel comfortable just walking up to someone you find interesting and striking up a conversation.</p>
            <label>
              <input
                name="10"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="10"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="10"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="10"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="10"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="10"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="10"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>12-You are not too interested in discussing various interpretations and analyses of creative works.</p>
            <label>
              <input
                name="11"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="11"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="11"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="11"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="11"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="11"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="11"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>13-You are more inclined to follow your head than your heart.</p>
            <label>
              <input
                name="12"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="12"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="12"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="12"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="12"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="12"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="12"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>14-You usually prefer just doing what you feel like at any given moment instead of planning a particular daily routine.</p>
            <label>
              <input
                name="13"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="13"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="13"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="13"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="13"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="13"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="13"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>15-You rarely worry about whether you make a good impression on people you meet.</p>
            <label>
              <input
                name="14"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="14"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="14"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="14"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="14"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="14"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="14"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>16-You enjoy participating in group activities.</p>
            <label>
              <input
                name="15"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="15"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="15"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="15"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="15"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="15"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="15"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>17-You like books and movies that make you come up with your own interpretation of the ending.</p>
            <label>
              <input
                name="16"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="16"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="16"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="16"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="16"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="16"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="16"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <p>18-Your happiness comes more from helping others accomplish things than your own accomplishments.</p>
            <label>
              <input
                name="17"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="17"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="17"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="17"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="17"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="17"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="17"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          <div class="form-group">
            <p>19-You are interested in so many things that you find it difficult to choose what to try next.</p>
            <label>
              <input
                name="18"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="18"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="18"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="18"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="18"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="18"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="18"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          <div class="form-group">
            <p>20-You are prone to worrying that things will take a turn for the worse.</p>
            <label>
              <input
                name="19"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="19"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="19"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="19"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="19"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="19"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="19"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>
          <div class="form-group">
            <p>21-You avoid leadership roles in group settings</p>
            <label>
              <input
                name="20"
                value="Fully Agree"
                type="radio"
                class="input-radio"
                checked
              />Fully Agree</label
            >
            <label>
              <input
                name="20"
                value="Partially Agree"
                type="radio"
                class="input-radio"
              />Partially Agree</label
            >
      
            <label
              ><input
                name="20"
                value="Slightly Agree"
                type="radio"
                class="input-radio"
              />Slightly Agree</label
            >
            <label>
              <input
                name="20"
                value="neutral"
                type="radio"
                class="input-radio"
                checked
              />neutral</label
            >
            <label>
              <input
                name="20"
                value="Slightly disagree"
                type="radio"
                class="input-radio"
                checked
              />Slightly disagree</label
            >
            <label>
              <input
                name="20"
                value="Partially disagree"
                type="radio"
                class="input-radio"
                checked
              />Partially disagree</label
            >
            <label>
              <input
                name="20"
                value="Fully disagree"
                type="radio"
                class="input-radio"
                checked
              />Fully disagree</label
            >
          </div>

          <div class="form-group">
            <button type="submit" id="submit" class="submit-button">
              Submit
            </button>
          </div>
        </form>
      </div>
      
</body>
</html>
